/* Navigation bar */

a
{
    text-decoration: none !important;
}
body
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../resource/broken.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: "Lato";
}
header{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2%;
    width: 100%;
    box-sizing: border-box;
}
header .logo
{
    color: #ecf0f1;
    height: 50px;
    line-height: 50px;
    font-size: 3vh;
    float: left;
    font-weight: bold;
}
header nav
{
    float: right;
}
header nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li
{
    list-style-type: none;
    font-size: 2vh;
}
header nav ul li a
{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #bdc3c7;   
    text-decoration: none;
    display: block;
}
header nav ul li a:hover,
header nav ul li a.active
{
    color: #ecf0f1; 
}
.menu-toggle
{
    color: #ecf0f1;
    float: right;
    line-height: 50px;
    font-size: 4vh;
    cursor: pointer;
    display: none;
}
@media (max-width: 1024px)
{
    .menu-toggle{
        display: block;
    }
    header nav 
    {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active
    {
        left: 0;
    }
    header nav ul 
    {
        display: block;
        text-align: center;
    }
    header nav ul li a 
    {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

}

/* About us section */

#about
{
    margin-top: 0px;
}
#about .logo
{
    width: 80%;
    opacity: 0.5;
    border-radius: 50%;
}
#about .about-social .fa
{
    font-size: 5vh;
    color: #bdc3c7;
}
#about .about-social .fa:hover
{
    color: #09335e;
}
#about .about-header
{
    color: #ecf0f1;
    font-size: 6vh;
}
#about .about-paragraph
{
    color: #bdc3c7;
    font-size: 2vh;
}
#about .about-btn
{
    text-transform: uppercase;
    background-color: #136435;
    color: #000000;   
    font-weight: bold;
}
#about .about-btn:hover
{
    color: #3a0202;   
}
@media (max-width: 1024px)
{
    #about .row .col-1
    {
        padding-right: 20%;
    }
}
@media (max-width: 767px)
{
    #about .about-text
    {
        margin-right: 5%;
        margin-left: 5%;
    }
    #about .row .col-1 .fa 
    {
        font-size: 8vh;
    }
}
.row
{
    margin-right: 0px !important;
}
/* Podjela sadrzaja */

.section-header
{
    color: #ecf0f1;
    font-size: 6vh;
    margin-top: -5%;
}
.hateit
{
    width: 100%;
    height: 50px;
}
.hr-zegac
{
  border-top: 1px solid rgba(255,255,255,0.2) !important;
  border-width: 2px !important;
  margin-top: 5%;
  margin-bottom: 5%;
}
.hr-zegac2
{
    border-top: 1px solid rgba(255,255,255,0.2) !important;
    border-width: 2px !important;
    margin-top: 15%;
    margin-bottom: 5%;
}

/* Programs section */
#programs .carousel-inner img {
    width: 100%;
    opacity: 0.5;
}
#programs .programs-header
{
    color: #ecf0f1;
    font-size: 4vh;
}
#programs .programs-paragraph
{
    color: #bdc3c7;
    font-size: 2vh;
}
section .programs-btn
{
    text-transform: uppercase;
    margin-top: 2%;
    background-color: #136435;
    color: #000000; 
    font-weight: bold;
}
section .programs-btn:hover
{
    color: #3a0202; 
}
#programs .overlay
{
  z-index: 1;
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
}
@media (max-width:767px)
{
    #programs .programs-paragraph
    {
        display: none;
    }
}

/* Workouts section */

#workouts .carousel-inner img {
    width: 100%;
    opacity: 0.8;
}
section .workouts-btn
{
    text-transform: uppercase;
    margin-top: 2%;
    background-color: #136435;
    color: #000000; 
    font-weight: bold;
}
section .workouts-btn:hover
{
    color: #3a0202; 
}


/* Contact us section */

#contact-us .contact-form
{
    text-align: center;
    width: 100%;
    background: rgba(75, 72, 72, 0.5);
    margin: 0 auto;
    border-radius: 8px;
}
#contact-us .tekst
{
    border: 1px solid gray;
    padding: 3vh 0;
    border-radius: 8px;
}
#contact-us .tekst label
{
    display: block;
    text-align: left;
    text-transform: uppercase;
    color: #bdc3c7;
    font-size: 3vh;
}
#contact-us .tekst input, .tekst textarea
{
    color: black;
    padding-left: 3%;
    font-weight: bold;
    width: 100%;
    border: none;
    font-size: 3vh;
}
#contact-us .tekst .btn-send
{
    font-weight: bold;
    background-color: #136435;
    margin-top: 5%;
    text-transform: uppercase;
    width: 80%;
}
#contact-us .tekst .btn-send:hover
{
    color: #3a0202;
}
@media (min-width:768px){
#contact-us .contact-form
{
    width: 80%;
}
#contact-us .tekst
{
    padding: 3vh 0;
}
#contact-us .tekst label
{
    font-size: 2.5vh;
}
#contact-us .tekst input, .tekst textarea
{
    font-size: 2.5vh;
}
}
@media (min-width:1025px){
#contact-us .contact-form
{
    width: 60%;
}
}

/* Login and register section */

/* ...........................................................................*/

#login-form .modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 40%;
}
#login-form .modal-content
{
    background-color: #fefefe;
    margin: 0 auto;
    border: 1px solid #888;
    width: 100%; 
}
#login-form  .close 
{
    position: absolute;
    right: 25px;
    top: 0;
    color: #ecf0f1;
    font-size: 35px;
    font-weight: bold;
}
#login-form 
.close:hover,
.close:focus 
{
  cursor: pointer;
}
/* Add Zoom Animation */
.animate 
{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom 
{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom 
{
    from {transform: scale(0)}
    to {transform: scale(1)}
}
#login-form h1 {
    font-size: 5vh;
    color: #ecf0f1;
}
#login-form p {
    color: #bdc3c7;
    font-size: 3vh;
}
#login-form input[type=text], input[type=password]
{
    width: 100%;
    padding: 1vh 0;
    margin: 1vh 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#login-form button 
{
    text-transform: uppercase;
    background-color: #136435;
    color: black;
    font-weight: bolder;
    padding: 1vh 0;
    margin: 1vh 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#login-form button:hover 
{
    color: #3a0202;
}
#login-form .cancelbtn 
{
    color: black;
    width: auto;
    padding: 1vh 2vh;
    background-color: #f44336;
}
#login-form .cancelbtn:hover
{
    opacity: 0.9;
}
#login-form .imgcontainer 
{
    text-align: center;
    margin: 2vh auto;
}
#login-form span.psw 
{
    float: right;
    padding-top: 2.5vh;
}
#login-form .container 
{
    padding: 2vh;
}
#login-form .fa
{
    font-size: 10vh;
}
@media (min-width: 768px)
{
    #login-form .modal-content
{

    width: 80%; 
}
#login-form .modal
{

    padding-top: 30%;
}
}
@media (min-width: 1025px)
{
    #login-form .modal-content
{

    width: 60%; 
}
#login-form .modal
{

    padding-top: 10%;
}
}
/* ...........................................................................*/

#register-form .modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 1vh;
}
#register-form .modal-content
{
    background-color: #fefefe;
    margin: 0 auto;
    border: 1px solid #888;
    width: 100%; 
}
#register-form  .close 
{
    position: absolute;
    right: 25px;
    top: 0;
    color: #ecf0f1;
    font-size: 35px;
    font-weight: bold;
}
#register-form 
.close:hover,
.close:focus 
{
  cursor: pointer;
}
#register-form h1 {
    font-size: 5vh;
    color: #ecf0f1;
}
#register-form p {
    color: #bdc3c7;
    font-size: 3vh;
}
#register-form .container p
{
    margin-top: 2vh;
    color: black;
    font-size: 2vh;
}
#register-form input[type=text], input[type=password]
{
    width: 100%;
    padding: 1vh 0;
    margin: 1vh 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#register-form button 
{
    text-transform: uppercase;
    background-color: #136435;
    color: black;
    font-weight: bolder;
    padding: 1vh 0;
    margin: 1vh 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#register-form button:hover 
{
    color: #3a0202;
}
#register-form .cancelbtn 
{
    color: black;
    width: auto;
    padding: 1vh 2vh;
    background-color: #f44336;
}
#register-form .cancelbtn:hover
{
    opacity: 0.9;
}
#register-form .imgcontainer 
{
    text-align: center;
    margin: 2vh auto;
}
#register-form span.psw 
{
    float: right;
    padding-top: 2.5vh;
}
#register-form .container 
{
    padding: 2vh;
}
#register-form .fa
{
    font-size: 10vh;
}
@media (min-width: 768px)
{
    #register-form .modal-content
{

    width: 80%; 
}
}
@media (min-width: 1025px)
{
    #register-form .modal-content
{

    width: 60%; 
}
}

/* ...........................................................................*/

/* Team section */

#team-section 
{
    text-align: center;
}
#team-section h1
{
    color: #ecf0f1;
    margin-bottom: 5%;
    font-size: 5vh;
    text-transform: uppercase;
    border-top-width: 20%;
    border-top-color: #3498db;
    border-top-style: solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#team-section img
{
    border-radius: 50%;
    width: 300px;
    height: auto;
    filter: grayscale(100%);
    transition: 0.5s all;
}
#team-section img:hover
{
    filter: none;
}
#team-section .opis h2
{
    margin-top: 5%;
    color: #ecf0f1;
    font-size: 4vh;
}
#team-section .opis p
{
    color: #bdc3c7;
    font-size: 2vh;
}
#team-section .styling
{
    margin: 0 auto;
    width: 30%;
    border-bottom-width: 20%;
    border-bottom-color: #3498db;
    border-bottom-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 2%;
}
#team-section .styling2
{
    margin: 0 auto;
    width: 50%;
}
#team-section .opis
{
    display: none;
}
@media only screen and (max-width: 1023px) and (min-width: 768px)
{
    #team-section img
{
    width: 200px;
    height: auto;
}
}

/* Validation */

.val_error
{
    color: #c0392b;
}

.zegac77::-webkit-input-placeholder {
    color: #ecf0f1
 }

/* Terms and privacy */
#tap 
{
    margin-left: 5%;
    margin-right: 5%;
}
#tap h1
{
    color: #ecf0f1;
    margin-bottom: 2%;
    margin-top: 5%;
}
#tap h5
{
    color: #3498db;
    margin-top: 4%;
}
#tap p, ol
{
    color: #bdc3c7
}

/* Forgot password */ 
.forgot-psw p
{
   color: #d3d4d4;
}
.forgot-psw
{
    margin-top: 40vh;
    text-align: center;
}
.forgot-psw h1
{
    margin-bottom: 3%;
    color: #ecf0f1;
}
.email-box
{
    margin-bottom: 2%;
}
.forgot-psw input
{
    width: 60%;
    height: 5vh;
    font-weight: bolder;
    text-align: center;
    font-size: 3vh;
}
@media (max-width: 767px)
{
    .forgot-psw input
{
    width: 100%;

}
.forgot-psw
{
    margin-top: 30vh;
}
}
@media only screen and (max-width: 1024px) and (min-width: 768px)
{
    .forgot-psw input
{
    width: 80%;

}
.forgot-psw
{
    margin-top: 30vh;
}
}


/* After register page */
#afterregister
{
    margin-top: 20%;
    text-align: center;
    color: #bdc3c7;
    font-size: 5vh;
}
#afterregister strong
{
    color: #2980b9;
}
#afterregister .message
{
    margin-bottom: 5%;
}


/* Programs section */

#userprograms .pricing-header h1
{
    color: #ecf0f1;
}
#userprograms .pricing-header p
{
    color: #bdc3c7;
}
#userprograms .card-deck .card
{
    background: rgba(75, 72, 72, 0.5) !important; 
}
#userprograms .card-body h1,li
{
    color: #bdc3c7;
}
#userprograms .card-body .text-muted
{
    color: #bdc3c7 !important;
}
#userprograms .card-header h4
{
    color: #ecf0f1;
}

/* Workout section */
.uplauded-img p
{
    margin-top: 5vh;
    color: #bdc3c7;
}
#content_upload
{
    margin-top: 10vh;
    text-align: center;
}
#content_upload input,textarea
{
    width: 100%;
    margin-bottom: 2vh;
}
#content_upload textarea
{
   font-size: 2.5vh;
   height: 40vh;
}
#content_upload input[type="submit"]
{
   height: 10vh;
}
#content_upload input[type="submit"]:hover
{
   background: grey;
   color: black;
}
#content_upload input[type="file"]
{
    color: #bdc3c7;
}
.logout-admin
{
    position: absolute;
    right: 5vh;
    bottom: 5vh;
    font-size: 4vh;
}